:root{
    /* fonts */
    --font-lexend-deca: 'Lexend Deca', sans-serif;
    --font-big-shoulders-display: 'Big Shoulders Display', cursive;
    --font-size-p: 0.9375rem; /* 15px*/
    --font-regular: 400;
    --font-bold: 700;

    /* colors */
    --color-bright-orange: hsl(31, 77%, 52%);
    --color-dark-cyan: hsl(184, 100%, 22%);
    --color-very-dark-cyan: hsl(179, 100%, 13%);
    --color-transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
    --color-Very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons */
}